.main{
    h1{
        text-decoration: underline;
        text-align: center;
        z-index: -1;
    }
    
    .form{
        display: grid;
        border-radius: 15%;
        margin-top: 10%;
        padding: 10%;
        .input{
            border: solid 1px black;
        }
        .label{
            display: block;
            text-align: center;
        }
    }
    
    .div_form{
        height: 100%;
        position: relative;

        .form_dep{
            width: max-content; 

            h2{
                font-size: 100%;
                text-align: center;
            }
            .btn-crear{
                position: absolute;
            }
        }
    }
    
}

